<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= controller_name == 'pages' && action_name == 'home' ? 'navbar-transparent' : '' %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'WALD_Oficial_Logo.png', id: "logo_wald" %>
    <% end %>

<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

      <div class="d-flex align-items-center in-nav-link-div">
        <li class="nav-item in-nav-link hvr-float-shadow">
          <%= link_to "New Project", new_project_path, class: "nav-item" %>
        </li>
        <li class="nav-item in-nav-link hvr-float-shadow">
          <%= link_to "Projects", projects_path, class: "nav-item" %>
        </li>
      </div>


        <li class="nav-item dropdown">
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle avatar-size-navbar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li id="navbar-login-button" class="nav-item" style ="text-color: white;">
          <%= link_to "Sign in with", user_github_omniauth_authorize_path, style: "color: white;" %> <i class="fab fa-github" style="color: white;"></i><br />
        </li>
      <% end %>
    </ul>
  </div>
</div>
