
<div class="container">

  <h1><%= @project.name.gsub(/\s+/m, '_').downcase %></h1>

<div class="border-bottom my-4"></div>
<div class="row">
<div class="col-md-6">
  <p>Edit text by clicking on it.</p>
  <p>Click  <i class="fas fa-copy"></i>  to copy a command.</p>
  <p>Run commands in your terminal.</p>
</div>

<div class="col-md-6 text-right">
  <div class="share-link-desktop">
    <!-- <p><strong>Share this page</strong></p> -->
    <div class="link-code-block" style="float: right; min-width: 380px;">
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-link"></i></div>
        <!-- <input class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false"> -->
        <strong style="margin-top: 2px;">Share&nbsp</strong>
        <input class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false" style="width:<%= request.original_url.length * 9 %>px">
        <!-- <span class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false" contenteditable="true"><%= request.original_url %></span> -->
      </div>
    </div>
  </div>
</div>
</div>
<div class="mb-4 mt-2 border-bottom"></div>



<div class="d-flex">
  <p><strong>Create a Rails project</strong></p>
  <div class="flex-grow-1"></div>
    <button class="align-items-center pulsate-bck" data-toggle="modal" data-target="#exampleModalCenter">Understand your template</button>
  </div>


<p>This command generates a new Rails project in a directory named '<%= @project.name.gsub(/\s+/m, '_').downcase %>'. </p>

<div class="customise-options-div">

    <div class="d-flex template-option-div">
     <span class="template-option-span">Create repository on <strong>Github</strong>?</span>
       <div class="github-checkbox show-page-checkbox">
         <input data-target="&github" type="checkbox" class="form-check-input wald-checkbox" id="github_checkbox">
       </div>
    </div>

     <div class="d-flex template-option-div">
       <span class="template-option-span">Deploy to <strong>Heroku</strong>?</span>
         <div class="heroku-checkbox show-page-checkbox">
           <input data-target="&heroku" type="checkbox" class="form-check-input wald-checkbox" id="heroku_checkbox">
         </div>
      </div>

      <div class="d-flex template-option-div">
       <span class="template-option-span"><strong>Seed</strong> your models?</span>
         <div class="seed-checkbox show-page-checkbox">
           <input data-target="&seed" type="checkbox" class="form-check-input wald-checkbox" id="seed_checkbox">
         </div>
      </div>

  <div class="d-flex template-option-div">
    <span class="template-option-span"><strong>Devise</strong> for user model?</span>
      <div class="devise-checkbox show-page-checkbox">
        <input type="checkbox" data-target="&devise" class="form-check-input wald-checkbox" id="devise_checkbox">
      </div>
      <span class="d-flex devise-hidden" id="devise_show_hide_span">
        <span class="devise-for-span">
          <% if @project.models.include?("user") %>
            Devise will be applied to your 'user' model.
          <% else %>
            <span style="color: rgb(255, 95, 63)">You do not have a 'user' model.</span> A user model will be created for you if you select devise.
          <% end %>
        </span>
      </span>
   </div>


  <span class="scaffold-title-template-option-span"><span class="scaffold-span"><strong>Scaffold</strong> your models?</span></span>
  <div class="d-flex flex-wrap scaffold-template-option-div">
    <!-- <span class="scaffold-title-template-option-span"><span class="scaffold-span"><strong>Scaffold</strong> your models?</span></span> -->


    <div class="scaffold-checkbox-div" data-color="&s-all">
      <div class="heroku-checkbox show-page-checkbox">
        <input data-target="&s-all" type="checkbox" class="form-check-input wald-checkbox in-div-wald-checkbox" id="s-all">
      </div>
      <span class="scaffold-template-option-span">all</span>
    </div>
    <% @project.models.each do |model| %>
    <div class="scaffold-checkbox-div" data-color="&s-<%= model %>">
      <div class="heroku-checkbox show-page-checkbox">
        <input data-target="&s-<%= model %>" type="checkbox" class="form-check-input wald-checkbox in-div-wald-checkbox scaffold-checkbox" id="s-<%= model %>">
      </div>
      <span class="scaffold-template-option-span"><%= model %></span>
    </div>
    <% end %>
  </div>



</div>

<div class="code-block">
  <div class="code-row">
    <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-command"></i></div>
    <textarea class="code-input" rows="5" cols="50" id="code-input-command" spellcheck="false">
rails new \
  --database postgresql \
  --webpack \
  -m <%= project_template_url(@project) %> \
  <%= @project.name.gsub(/\s+/m, '_').downcase %>
    </textarea>
  </div>
</div>

<div class="my-4 border-bottom"></div>

  <p><strong>Your commands to generate models.</strong></p>
  <p>These commands are already in your template and will run automatically.</p>
  <p>If you don't want to use the template, you can run these commands individually.</p>
  <div class="code-block">
    <% @commands.each_with_index do |command, index| %>
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-<%= index + 1%>" id="copy-icon-<%= index + 1%>"></i></div>
        <input class="code-input" type="text" id="code-input-<%= index + 1%>" value="<%= command %>" spellcheck="false">
      </div>
    <% end %>
  </div>

  <div class="my-4 border-bottom"></div>

  <p><strong>Your XML File</strong></p>
  <p>Here you can check your XML schema and update it.</p>
  <div class="code-block code-xmlfile">
  <div class="code-row">
    <div class="code-copy-icon"><i class="fas fa-copy" data-target="XML-input-command"></i></div>
      <%= simple_form_for @project do |f| %>
        <%= f.text_area :xml_schema, id: "XML-input-command", class: "code-input", rows: "5", cols: "131.5", spellcheck: "false" %>
        <%= f.submit 'Update XML', class: "btn btn convert-now-button hvr-grow my-3" %>
      <% end %>
    </div>
  </div>

  <div class="share-link-mobile">
    <div class="my-4 border-bottom"></div>
    <p><strong>Share this page</strong></p>
    <div class="link-code-block">
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-link"></i></div>
        <input class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your app '<%= @project.name.gsub(/\s+/m, '_').downcase %>' will contain:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-family: Roboto, sans-serif;">
        <p>- JavaScript enabled</p>
        <p>- Webpacker</p>
        <p>- Yarn</p>
        <p>- Le wagon stylesheets</p>
        <p>- gem 'font-awesome'</p>
        <p>- gem 'simple form'</p>
        <p>- gem 'bootstrap'</p>
        <p>- gem 'devise'</p>
        <p>- gem 'jbuilder'</p>
        <p>- Reopsitory on your Github</p>
        <p>- Heroku deplyoment</p>
        <p>And much more!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- old code to be saved in case -->
<!-- <span class="devise-for-span">Use devise for</span> -->
<!-- <div class="devise-dropdown"> -->

  <!-- <select class="form-control" id="devise-dropdown-select"> -->
    <%# @project.models.each do |model| %>
      <%# if model == "user" %>
        <!-- <option selected="selected" value="<%#= model %>"><%#= model %></option> -->
      <%# else %>
        <!-- <option value="<%#= model %>"><%#= model %></option> -->
      <%# end %>
    <%# end %>
  <!-- </select> -->

<!-- </div> -->
