
<div class="container">

<h1><%= @project.name.gsub(/\s+/m, '_').downcase %></h1>

<div class="border-bottom my-4"></div>
<div class="row">
<div class="col-md-6">
  <p>Edit text by clicking on it.</p>
  <p>Click <i class="fas fa-copy"></i> to copy a command.</p>
  <p>Run commands in your terminal.</p>
</div>

<div class="col-md-6 text-right">
  <div class="share-link-desktop">
    <!-- <p><strong>Share this page</strong></p> -->
    <div class="link-code-block" style="float: right; min-width: 380px;">
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-link"></i></div>
        <!-- <input class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false"> -->
        <strong style="margin-top: 1px;">Share&nbsp</strong>
        <span class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false" contenteditable="true"><%= request.original_url %></span>
      </div>
    </div>
  </div>
</div>
</div>
<div class="mb-4 mt-2 border-bottom"></div>

<p><strong>Create a Rails project</strong></p>
<p>This command generates a new Rails project in a directory named '<%= @project.name.gsub(/\s+/m, '_').downcase %>'. </p>

<div class="code-block">
  <div class="code-row">
    <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-command"></i></div>
    <textarea class="code-input" rows="5" cols="50" id="code-input-command" spellcheck="false">
rails new \
  --database postgresql \
  --webpack \
  -m <%= project_template_url(@project) %> \
  <%= @project.name.gsub(/\s+/m, '_').downcase %>
    </textarea>
  </div>
</div>

<div class="my-4 border-bottom"></div>

  <p><strong>Your model commands</strong></p>
  <p>These commands are already in your template and will run automatically.</p>
  <p>If you don't want to use the template, you can run these commands individually.</p>
  <div class="code-block">
    <% @commands.each_with_index do |command, index| %>
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-<%= index + 1%>" id="copy-icon-<%= index + 1%>"></i></div>
        <input class="code-input" type="text" id="code-input-<%= index + 1%>" value="<%= command %>" spellcheck="false">
      </div>
    <% end %>
  </div>

  <div class="share-link-mobile">

    <div class="my-4 border-bottom"></div>

    <p><strong>Share this page</strong></p>
    <div class="link-code-block">
      <div class="code-row">
        <div class="code-copy-icon"><i class="fas fa-copy" data-target="code-input-link"></i></div>
        <input class="link-code-input" type="text" id="code-input-link" value="<%= request.original_url %>" spellcheck="false">
      </div>
    </div>

  </div>

</div>
